/****** RESET  ******/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}



/****** HEADER  ******/

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

#header-logo:hover{
    cursor: pointer;
}

nav{
    padding: 1em 0.5em;
}

nav a{
    color: black;
    transition: 0.3s;
}

nav a:hover{
    transform: scale(1.2);
}

nav button{
    font-size: 16px;
    padding: 0.5em 1em;
    color: white;
    border: none;
    transition: 0.3s;
}

nav button:hover{
    cursor: pointer;
    transform: scale(1.2);
}

#left-header *{
    margin-right: 2em;
}

#right-header *{
    margin-right: 2em;
}

#start-button{
    margin-right: 0.5em;
}

/****** MAIN  ******/

/****** JUMBOTRON  ******/


#jumbotron{
    margin-top: 70px;
}

#jumbotron h1{
    font-size: 4em;
    font-weight: 800;
}

#jumbotron .col40{
    padding: 2em 0.5em 0 0.5em;   
}

#jumbotron button{
    font-size: 16px;
    padding: 0.5em 1em;
    border: none;
    color: white;
}

#jumbotron img{
    width: 130%;
}

/****** PLAN SECTION  ******/


#plans{
    padding-top: 100px;
}

#plans #billing-selection{
    padding: 2em 0;
}

#plans h2{
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 1em;
}

.plan-target{
    padding: 0.5em 0;
}

.plan-details{
    padding: 1.5em;
    font-size: 14px;
}

.plan-details h3{
    font-size: 18px;
    margin: 1em 0;
}

#plan-cost{
    margin-bottom: 2em;
}

.plan-details small{
    display: block;
}

.plan-details li{
    margin-bottom: 1em;
}

#plan-trial{
    width: 100%;
    padding: 1em;
    background: blue;
    color: white;
    border: none;
    margin-bottom: 1em;
}

.plan-details hr{
    width: 33%;
    margin: 2em 0;
    color: grey;
}


.plan-details h4{
    margin-bottom: 1em;
}


.row-plan{
    margin-top: 50px;
}

/****** PARTNER SECTION  ******/

#partner img{
    width: 100%;
}

/****** OPERATIONS SECTION  ******/

#operations{
    padding-top: 100px;
}

#operations img{
    width: 100%;
}

.operations-container{
    padding-top: 50px;
}

.operations-container > div{
    margin-top: 25px;
}

/****** NUMBER OF USE SECTION  ******/

#number-of-use{
    padding-top: 150px;
}

#number-of-use > a{
    margin-top: 50px;
}

/****** DESIGNIT SECTION  ******/

.designit-column{
    width: calc( 100% / 3 );
    height: calc( 100vw / 3 );
    border: 3px solid black;
}

#designit-column-text{
    padding: 2em;
}

.square{
    width: 50%;
    height: 50%;
    background-color: yellow;
    border: 3px solid black;
}

.square img{
    width: 50%;
}

.designit-column img{
    width: 50%;
}

/****** FAQ SECTION  ******/

#faq{
    padding: 120px 0;
}

#faq h2{
    font-size: 2.5em;
}

#faq-container{
    margin-top: 50px;
}

#faq-container div{
    padding: 1.5em;
    font-size: 16px;
}

#faq-container h3{
    margin-right: 2em;
}

/****** FOOTER  ******/

.footer-column{
    width: calc( 100% / 5 - 30px);
    background-color: red;
    padding-left: 0.5em;
}