/****** RESET  ******/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#jumbotron{
    padding-top: 80px;
}

#plans{
    padding-top: 100px;
}

.plan-column{

}

.row-plan{
    margin-top: 50px;
}

#operations{
    padding-top: 100px;
}

.operations-container{
    padding-top: 50px;
}

.operations-container > div{
    margin-top: 25px;
}

#number-of-use{
    padding-top: 150px;
}

#number-of-use > div{
    margin-top: 50px;
}

.designit-column{
    width: calc( 100% / 3);
    border: 3px solid black;
}

.square{
    width: 50%;
    height: 50%;
    background-color: yellow;
    border: 3px solid black;
}